/* ////////////////// global values /////////////////// */

html{
	margin:0; padding:0;
	background-color: #FCF9F1;
	scroll-behavior: smooth;
	/*cursor: pointer;*/
	/*cursor: url(../data/assets/cursor-01.png), auto !important;*/
}

body{
	margin: 0;
	overflow: hidden;
	/*overflow-y: hidden;*/
	padding: 0%;
	background-color: #FCF9F1;
	background-image: url(data/LOGO_HORIZONTAL.svg);
	/*cursor: pointer;*/
	/*cursor: url(../data/assets/cursor-01.png), auto !important;*/
}

h1{
	text-align: left;
	font-family: "june-expt-variable",sans-serif;
    font-variation-settings: 'STYL' 54;
	color: #141414;
	font-size: 20px;
	position: relative;
}


h2{
	text-align: left;
	font-family: "june-expt-variable",sans-serif;
    font-variation-settings: 'STYL' 0;
	color: #141414;
	line-height: 1.2;
	margin: 10px;
	padding-left: 35vw;
	padding-right: 5vw;
	font-size: 30px;
	position: relative;
}

h3{
	text-align: left;
	font-family: "june-expt-variable",sans-serif;
    font-variation-settings: 'STYL' 0;
	/*font-style: italic;*/
	color: #00CC89;
	font-size: 50px;
	margin: 10px;
	position: relative;
}


p{
	text-align: left;
	/*text-justify: inter-word;*/
	font-family: "june-expt-variable",sans-serif;
    font-variation-settings: 'STYL' 54;
	color: #00CC89;
	font-size: 15px;
	position: relative;
}


a.nav{
	display: block;
	/*text-align: justify;*/
	font-family: "june-expt-variable",sans-serif;
    font-variation-settings: 'STYL' 54;
	font-size: 3vw;
	font-style: italic;
	color: #FCF9F1;
	margin: auto;
}

a{
	color: #0F6CEB;
}

a.nav:hover{
	font-style: normal;
	color: #FF45CA;
}

a:hover{
	font-style: italic;
	color: #F96500;
}


hr.a{
	border: 1px dotted;
	border-color: #00CC89;

}


ul{
	
}


li{
	
}

marquee{
	position: fixed;
	width: 88%;
}

marquee.inline{
	position: relative;
	color: #ffffff;
	font-size: 50px;
	text-align: left;
	font-family: "june-expt-variable",sans-serif;
    font-variation-settings: 'STYL' 54;
	width: 100%;
}

img{
	width: auto;
	height: auto;
}


iframe{
	border-style: none;
	position: relative;
	pointer-events: all;
	width: 100%;
	height: 50vh;
}


/*::-webkit-scrollbar{
	width: 0;
	height: 0;
}*/

::-webkit-scrollbar {
	/*width: 5px;*/
	display: none;

}

::-webkit-scrollbar-thumb {
	background: #00CC89;

}

::-webkit-scrollbar-corner {
	display: none;
}

/* ////////////////// custom values /////////////////// */

.contFrame{
	position: fixed;
	overflow: scroll;
	padding-left: 100px;
	padding-right: 100px;
	top: 10vh;
  	left: 0;
  	bottom: 10vh;
  	right: 0;
	width: auto;
	height: 80vh;
	border-style: none;
	/*pointer-events: none;*/
	 -webkit-user-select: none; /* Safari */
  	-ms-user-select: none; /* IE 10 and IE 11 */
  	user-select: none; /* Standard syntax */
}

.header, .footer{
	position: fixed;
	height: 10vh;
	width: 100vw;
	min-height: 50px;
}

.header{
	top: 0;
	background-color: #0F6CEB;
}

.footer{
	bottom: 0;
	background-color: #FF45CA;
}

.nav1, .nav2, .nav3, .nav4{
	display: block;
	position: fixed;
	width: 25vw;
	height: 10vh;
	min-height: 50px;
	margin: auto;
	text-align: left;
	overflow: hidden;

}

.nav1{
	left: 0;
	top: 0;
	background-color: #F96500;
}

.nav2{
	right: 0;
	top: 0;
	background-color: #00CC89;
}

.nav3{
	left: 0;
	bottom: 0;
	background-color: #F7BC00;
}

.nav4{
	right: 0;
	bottom: 0;
	background-color: #00A1FC;
}

.banner-top, .banner-bottom{
	position: fixed;
	width: 50vw;
	height: 10vh;
	min-height: 50px;
}

.banner-top{
	top: 0;
	right: 25vw;
	left: 25vw;

}

.banner-bottom{
	bottom: 0;
	right: 25vw;
	left: 25vw;

}

/* /////////////////// MEDIUM SCREEN  ////////////////////// */

@media screen and (max-width:  1200px){

h3{
	text-align: left;
	font-size: 35px;
}

.contFrame{
	padding: 0;
}


}

/* /////////////////// SMALL SCREEN  ////////////////////// */

@media screen and (max-width:  800px){

h3{
	text-align: left;
	font-size: 35px;
}

h2{
	padding-left: 0;
	font-size: 20px;
}


}



